@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: bl; */
}

:root {
    --primary: 180 100% 50%;
    background-color: black;
    /* Aqua color */
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #2d3748 inset !important;
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #2d3748 inset !important;
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
}

.video-grid {
    height: calc(100vh - 80px);
    /* Adjust 80px based on your header height */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}